<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Map</h3>
  </div>
  <div class="panel-body">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]=10>
      <sebm-google-map-marker *ngFor="let item of jsonData; let i = index" [latitude]="item.latitude" [longitude]="item.longitude">
        <sebm-google-map-info-window [disableAutoPan]="true">
          <img src="http://cdn.images.express.co.uk/img/dynamic/128/590x/red-squirrels-uk-danger-save-771056.jpg" id="squirrel">
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>