
.panel-heading{
    background-color:#202020;
    background-image: none;
     border:none;
}
.panel-title{
    color:#F0F0F0;
    /*color:#000;*/
}

.panel-body{
      background-color:#E0E0E0;
      color:#101010;
}

.panel{
 border:none;
}