.jumbotron {
    background-image:url(https://images4.alphacoders.com/430/thumb-1920-43056.jpg);
    background-size: 50%;


}

h1 {
 color: #FFF;
 position:relative;
}
p {
color: #FFF;
}

.container{
    background-color: #101010;
        -webkit-filter: brightness(80%);
        opacity:0.8;  
}

.logo{
    width:60px;
}
.header{
    background-color:#202020;
    text-align: center;
}

.name{
    color:#F0F0F0;
    padding-bottom:10px;
    font-size:16px;
    font-family:Helvetica;
    padding:10px;
}