<div class="jumbotron">
  <div class="container">
    <h1>Deforestation is a problem</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod sem a odio auctor, at aliquam ex molestie. Fusce quis fringilla odio. Nulla in fringilla augue. Phasellus arcu nulla, placerat at semper ac, maximus vitae dolor. Nam in mattis mi. Morbi sagittis hendrerit libero, quis iaculis justo scelerisque nec. Cras condimentum gravida sapien. Aenean lacus nibh, sodales ac tempus nec, luctus volutpat libero. Nullam rhoncus ligula a leo fringilla, eget eleifend libero ornare. Aenean at pellentesque mauris. Nam varius augue lorem, sed hendrerit neque tincidunt pellentesque. </p>
  </div>
</div>
