<div class="jumbotron">
  <div class="container">
    <h1>Deforestation is a problem</h1>
    <p>Did you know one and a half acres of forest is cut down every second? Forests currently only cover 30% of the earth’s land and it’s estimated that within 100 years there will be no rainforests!
This has a massive impact on the wildlife around us. As forest ecosystems are destroyed, species are forced to invade other ecosystems, having a knock on effect at a global scale.
</p>
<p> WildlifeWatch was created to increase awareness of deforestation and encourage people to actively look out for and protect the animals around them. This is the world's first crowdsourced species agnostic ecosystem tracing platform, built to raise awareness, gather data and provide analytical tools to tackle this growing problem.
 </p>
  </div>
   
</div>
